$dark: #07090B;
$light: #F2F2F2;
$red: #E50914;
$gray: rgb(146, 146, 146);
$px: 20px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

body {
    background-color: $dark;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
    overflow-x: hidden;
}

nav {
    display: block;
    width: 100%;
    height: 80px;
}

.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    padding: $px;
    justify-content: space-between;
    background-color: transparent;

    .logo {
        padding: 25px;
        width: 250px;
        cursor: pointer;
    }

    .choices {
        display: flex;
        padding: $px;

        li {
            padding: $px;
            font-size: 18px;

            a {
                display: inline-block;
                color: $light;

                &::after {
                    display: block;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background-color: $red;
                    transition: width .3s ease-in-out;
                }

                &:hover:after,
                &:focus::after {
                    width: 100%;
                }
            }
        }
    }

    .search {
        display: flex;
        position: relative;
        width: 350px;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: #F2F2F2;

        img {
            position: absolute;
            top: -15px;
            left: 0;
            width: 50px;
        }

        input {
            font-size: 16px;
            font-weight: 300;
            color: $light;
            width: 100%;
            height: 35px;
            background-color: transparent;
            border-color: $light;
            border-top: none;
            border-left: none;
            border-right: none;
            padding-left: 60px;

            &:focus {
                outline: none;
            }
        }
    }

    .right-side {
        display: flex;
        align-items: center;

        .bell-ul {
            align-items: center;
            display: block;
            width: 50px;
            height: 50px;
            cursor: pointer;
            margin: $px;
            color: $light;

            &:hover li {
                display: flex;
            }

            .bell {
                width: 50px;
                height: 50px;
            }

            li {
                padding: 10px 10px 10px 0;
                border-bottom: 1px solid $light;
                display: none;
                position: relative;
                width: 430px;
                height: 120px;
                right: 380px;
                background-color: #87878792;
                text-align: center;
                align-items: center;
                transition: .4s;

                &:hover {
                    background-color: #07090B;
                }

                img {
                    width: 40%;
                    padding: 10px;
                    margin: 10px;
                    border-radius: $px;
                }

                .li-right {
                    width: 60%;
                    align-items: center;
                    text-align: left;
                    justify-content: center;


                    h3 {
                        font-size: 23px;
                        font-weight: 500;
                    }

                    h5 {
                        padding-top: 10px;
                        font-weight: 100;
                    }
                }
            }
        }

        .profile-ul {
            align-items: center;
            display: block;
            width: 50px;
            height: 50px;
            margin: $px;

            &:hover li {
                display: flex;
            }

            .profile {
                height: 50px;
                width: 50px;
                border-radius: 10px;
            }

            .li-upper {
                background-color: #ff00009c;
                padding: 10px;
                display: none;
                width: 275px;
                height: 70px;
                right: 225px;
                position: relative;
                align-items: center;


                img {
                    width: 55px;
                    height: 55px;
                    border-radius: 10px;
                }

                a {
                    margin: 20px 20px 20px 10px;
                    font-size: 16px;
                    width: 55%;
                    color: $light;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                span {
                    font-size: 25px;
                    color: $gray;
                }


            }

            .li-lower {
                background-color: #ff00009c;
                padding: 10px;
                position: relative;
                align-items: center;
                display: none;
                width: 275px;
                height: 40px;
                right: 225px;

                span {
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    font-size: 27px;
                    color: rgb(146, 146, 146);
                }

                a {
                    color: $light;
                    margin-left: 15px;
                    width: 80%;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            li {
                &:nth-child(5) {
                    border-bottom: 2px solid $gray;
                }
            }

            .last {
                border-top: 1px solid $gray;
                text-align: center;
                padding: 30px;
            }
        }

        .together-ul {
            @extend .bell-ul;

            .together {
                width: 50px;
                height: 55px;
            }

            li {
                padding: 10px;
                width: 300px;
                height: 70px;
                right: 250px;
                background-color: #87878792;
                transition: .4s;
                color: $light;

                &:nth-child(3) {
                    cursor: default;
                }

                &:nth-child(4) {
                    cursor: pointer;
                }

                &:hover {
                    background-color: #07090B;
                }

                img {
                    width: 50px;
                    height: 50px;
                    padding: 0px;
                    margin-left: -5px;
                    border-radius: $px;
                    cursor: pointer;

                    &:nth-child(2) {
                        margin-left: 10px;
                    }
                }
            }

            .first {
                justify-content: center;
                font-size: $px;
                cursor: default;

                span {
                    font-size: 25px;
                    padding: 0px 10px 0px 10px;
                }
            }
        }
    }
}

.hero {
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(7, 9, 11, 0) 0%, rgb(7, 9, 11) 65%), url("https://images3.alphacoders.com/853/853864.jpg");
    background-size: 103% 100vh;

    img {
        position: absolute;
        width: 600px;
        height: 250px;
        top: 20%;
    }

    .buttons {
        display: flex;
        position: relative;
        width: 20%;
        height: 40px;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 50%;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;
            width: 80px;
            height: 50px;
            margin: 10px;
            font-size: 18px;
            font-weight: 100;
            background-color: transparent;
            color: $light;
            cursor: pointer;
            border: 1px dashed $light;
            border-radius: 40px;
            transition: background-color .5s;

            &:hover,
            &:focus {
                background-color: #e5091466;
                border: 1px dashed $light;
            }
        }
    }
}

.episode-dom {
    display: flex;
    width: 100%;
    height: 80vh;
    margin-top: -10px;
    background-color: $dark;
    padding: 0px 50px 0 50px;
    color: $light;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: block;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #e5091459;
        border-radius: 10px;

        &:hover {
            background-color: #6d0000;
        }
    }

    &::-webkit-scrollbar-track {
        color: #096dd1;
    }

    .seasons {
        width: 13%;
        height: 150px;
        position: fixed;
        align-self: flex-start;

        .season {
            width: 100%;
            height: 75px;

            button {
                padding: 10px;
                text-align: left;
                width: 100%;
                height: 100%;
                cursor: pointer;
                background: transparent;
                color: $light;
                border: none;
                transition: background-color .6s;

                &:hover,
                &:focus {
                    background-color: #E50914;
                }

                h4 {
                    font-size: 19px;
                    font-weight: 500;
                }

                h5 {
                    font-size: 14px;
                    font-weight: 100;
                }
            }

            #b1 {
                border-top-right-radius: 10px;
            }

            #b2 {
                border-bottom-right-radius: 10px;
            }
        }
    }

    .episodes {
        display: block;
        position: sticky;
        left: 15%;
        width: 85%;
        padding: $px;
        color: $light;
        transition: .5s;


        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 30px;

            h3 {
                font-size: 28px;
                font-weight: 500;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                cursor: pointer;
                transition: color .4s;
                color: $light;

                span {
                    font-size: 35px;
                    padding-right: 5px;
                }

                &:hover {
                    color: #E50914;
                }
            }
        }

        .explanation {
            margin-top: $px;
            font-size: 17px;
        }

        .episode {
            display: flex;
            width: 100%;
            height: 280px;
            margin-top: $px;

            .left {
                width: 30%;
                position: relative;
                letter-spacing: 1px;

                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }

                h3 {
                    padding: 15px;
                    position: absolute;
                    font-size: 23px;
                    font-weight: 600;
                    top: 0;
                }

                h4 {
                    position: absolute;
                    top: 70%;
                    padding-left: 15px;
                    font-size: 18px;
                    font-weight: 300;
                }

                h5 {
                    position: absolute;
                    top: 80%;
                    font-size: 16px;
                    font-weight: 300;
                    padding-left: 15px;
                }
            }

            .right {
                width: 70%;
                height: 100%;

                .share {
                    display: flex;
                    position: sticky;
                    justify-content: flex-end;
                    padding: 5px;
                    height: 25px;

                    button {
                        background-color: transparent;
                        border: none;
                        width: 40px;
                        height: 40px;
                        cursor: pointer;


                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                p {
                    padding: $px;
                    font-size: 21px;
                    font-weight: 300;
                }

                h4 {
                    margin: 30px 0 10px 20px;
                    font-size: 17px;
                    font-weight: 100;
                    width: 100%;
                    height: 17px;
                }

                .profiles {
                    display: flex;
                    position: sticky;
                    align-items: center;
                    padding: 30px;
                    width: 100%;

                    img {
                        width: 40px;
                        height: 40px;
                        margin: -5px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .episodes2 {
        @extend .episodes;
        display: none;
    }
}


.background-opacity {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 11;
    opacity: .80;
}

.videoBox {
    display: none;
    position: absolute;
    top: 15%;
    left: 20%;
    max-width: 1200px;
    max-height: 360px;
    z-index: 12;
    overflow: visible;

    .boxclose {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        background: #222222;
        font-size: 30px;
        padding: 0 10px 7px 10px;
        border-bottom-left-radius: 5px;
        z-index: 12;
        opacity: 0.9;
        cursor: pointer;

        &:before {
            content: "x";
        }
    }
}